*.apk
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/

.gradle/
build/
app/build/

local.properties

proguard/

*.log

.navigation/

captures/
/captures

*.iml
.idea/
workspace.xml
tasks.xml
gradle.xml
dictionaries
shelf/

*.jks
*.keystore

.externalNativeBuild
.cxx/

.DS_Store

google-services.json
Documents/report.aux
Documents/report.fdb_latexmk
Documents/report.out
Documents/report.synctex.gz
Documents/report.toc
Documents/report.fls
